@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

body {
 background-color: #c5d5cb;
 font-family: 'Coming soon', cursive;
 font-size: 18px;
}

#auth-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 10% 10% 200px 10%;
}

#landmarker-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#signUp-form { border: 1px solid; margin: 1px 1px 5px 1px;}
#login-form { border: 1px solid; margin: 1px 1px 5px 1px;}
.tab { position: absolute; }


.field-icon {
  float: center;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.button {
  position: absolute;
  background-color: inherit;
  border:none;
  outline:none;
  padding:2px;
  margin-left: auto;
  margin-right: auto;
  right: 0px;
  top: calc(50% - 0.7em); /* Keep icon in center of input, regardless of the input height */
}


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #9fa8a3;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


.tab button:hover {
  background-color: #e3e0cf;
}


.tab button.active {
  background-color: #e3e0cf;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #e3e0cf;
  border-top: none;
}

#header {
  display: flex;
  position: relative;
  border: 1px solid;
  height: 100px;
  justify-content: flex-end;
}

#header {
  display: none;
}
#buttons {

}
#account-modal {
  display: none;
}

#another-message {
  height: 100px;
}


#email-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  border: 1px solid;
  max-width: 50%;
  height: 57px;
}

#create-content {
  display: block;
  float: right;
  height: 200px;
}

#creation-content {

  height: 100%;
  width: 100%;
}

#input-content {
  display: contents;
}

#landmark-display {
  display: block;

}

#create-content {
  display: none;
  padding: 10px;
}


#sign-out {
  display: none;
}

#viewLandmarks-button {
  display: none;
  position: absolute;
}


#dynamic-delete {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#landmark-delete-dynamic {
  margin: 0px 0px 15px 0px;
}
#landmark-update-dynamic {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}


#message-container {
  height: 25px;
}

#message {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success {
  color: #013220;
  font-size: 20px;
}

.failure {
  color: red;
  font-size: 20px;
}
